#dabblet{
  background: -webkit-canvas(animation) white;
  height:280px ;
  width: 910px;
  position: relative;
}
#box{
  position: absolute;
  top: 0;
  left: 0;
}

/* jQuery UI Over-ride */
.ui-slider-vertical {
  height: 280px;
}